@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@font-face {
	font-family: 'FonteLogo'; 
	src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
	background-color: #dddddd;
	color: rgba(0, 0, 0, 1);
	font-family: Arial, sans-serif;
}

p {
	text-indent: 50px;
	text-align: justify;
	font-size: 12pt;
}

a {
	color: #606060;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div#interface {
	top: 500px;
	width: 900px; 
	background-color: white;
	margin: -20px auto 0px auto;
	padding: 20px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, .4);
}


/*cabeçalho*/
header#cabecalho {
	margin-top: 0px;
	border-bottom: 1px solid #606060;
	height: 140px;
	background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 75px;
}

header#cabecalho img#icone {
	position: absolute;
	top: 80px;
	left: 1010px;
}

header#cabecalho h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 30pt;
	color: #606060;
	padding: 0px;
	margin-bottom: 0px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

header#cabecalho h2 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 15pt;
	color: #888888;
	padding: 0px;
	margin-top: 0px;
	font-weight: normal;
}

/*menu*/
nav#menu {
	display: block;
}

nav#menu ul {
	position: absolute;
	top: -20px;
	left: 530px;
	text-transform: uppercase;

}

nav#menu li {
	display: inline-block;
	background-color: #dddddd;
	margin: 1px;
	padding: 10px 0px;
	font-weight: 500;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, .4);
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}


nav#menu li:hover {
	position: relative;
	background-color: #606060;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, .4);
}



nav#menu a {
	color: rgba(0, 0, 0, 1);
	text-decoration: none;
	padding: 10px;
}

nav#menu a:hover {
	color: #ffffff;
}

nav#menu h1 {
	display: none;
}

/*corpo principal*/
section#corpo {
	display: block;
	width: 500px;
	float: left;
	border-right: 1px solid #606060;
	padding-right: 15px;
}

/*conteudo principal*/
article#noticia-principal h2 {
	font-size: 13pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
	font-weight: bolder;

}

/*cabeçalho do conteúdo*/
header#cabecalho-artigo h1 {
	font-family: 'FonteLogo', sans-serif;
	color: #606060;
	font-size: 20pt;
	margin-top: 0px;
	margin-bottom: 0px;
}

header#cabecalho-artigo h2 {
	color: #cecece;
	font-size: 9pt;
	background-color: #ffffff;
	margin: 0px;
	padding-left: 0px;

}

header#cabecalho-artigo h3 {
	color: #606060;
	font-size: 9pt;
	background-color: #ffffff;
	
}

header#cabecalho-artigo h3.direita {
	text-align: right;
	font-size: 10px;
	font-style: italic;
}


/*tabela specs*/

table#tabelaspecs {
	border: 1px #606060 solid;
	border-spacing: 0px;
	text-align: right;
	vertical-align: middle;
	margin: auto;
}

table#tabelaspecs td {
	border: 1px #606060 solid;
	padding: 10px;
	font-size: 12pt;
}

table#tabelaspecs td.ce {
	color: #ffffff;
	background-color: #606060;
	font-weight: bolder;
	vertical-align: top;
}

table#tabelaspecs td.cd {
	background-color: #cecece;
	text-align: left;

}

table#tabelaspecs caption {
	color: #888888;
	font-weight: bolder;
	font-size: 13pt;
}

table#tabelaspecs caption span {
	display: block;
	float: right;
	margin-top: 10px;
	font-size: 8pt;
}

/*conteúdo lateral*/
aside#lateral {
	display: block;
	width: 350px;
	float: right;
	background-color: #cecece;
	padding: 10px;
	padding-top: 30px;
	margin-top: 15px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
}

aside#lateral h1 {
	color: #606060;
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	margin-top: 0px;
}

aside#lateral h2 {
	color: #ffffff;
	background-color: #606060;
	font-size: 13pt;
	padding: 8px;
}

/*rodapé*/
footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
	height: 80px;
}

footer#rodape p {
	text-align: center;
	font-style: italic;
}

footer#rodape a {
	color: #606060;
	text-align: center;
}

footer#rodape a#glass span {	
	transition: 1s;
}

footer#rodape a#glass span:hover {
	text-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
	text-decoration: underline;
}

/*Fotos com legendas*/
figure.foto-legenda {
	position: relative;
	border: 8px solid white;
	margin: 0px;
	box-shadow: 1px 1px 4px rgba(0,0,0, .4);
}

figure.foto-legenda img {
	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption {
	opacity: 0;
	top: 0px;
	position: absolute;
	background-color: rgba(0,0,0, .4);
	width: 100%;
	height: 100%;
	color: white;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

figure.foto-legenda figcaption:hover {
	opacity: 1;
}