@charset "UTF-8";

div#tv-radio {
	width: 900px;
	height: 580px;
	margin: auto;
	background: url('../_imagens/radio-tv.png') no-repeat;
}

audio#audio {
	display: block;
	width: 300px;
	position: relative;
	top: 500px;
	left: 573px;
}

video#filme {
	display: block;
	width: 450px;
	position: relative;
	top: 80px;
	left: 82px;
}

video#video-lateral {
	position: relative;
	width: 350px;
}
